{
  "nbformat": 4,
  "nbformat_minor": 0,
  "metadata": {
    "colab": {
      "provenance": [],
      "toc_visible": true
    },
    "kernelspec": {
      "name": "python3",
      "display_name": "Python 3"
    },
    "language_info": {
      "name": "python"
    }
  },
  "cells": [
    {
      "cell_type": "code",
      "source": [
        "<!doctype html>\n",
        "<html lang=\"en\">\n",
        "\n",
        "\n",
        "<head>\n",
        "    <link rel=\"stylesheet\" href=\"{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}\">\n",
        "    <link rel=\"stylesheet\" href=\"{{ url_for('static', filename='css/styles.css') }}\">\n",
        " </head>\n",
        "\n",
        "  <body>\n",
        "  <blockquote class=\"blockquote text-center\">\n",
        "  <p class=\"mb-0\">In {{ current_user.username }} we trust! </p>\n",
        "  <footer class=\"blockquote-footer\">Someone famous </footer>\n",
        "</blockquote>\n",
        "  <section>\n",
        "    <div class=\"container\" style=\"background-color:#eb3b60;\">\n",
        "    <h2 style=\"color:#FFFFFF\">TO DO</h2>\n",
        "\n",
        "    <table>\n",
        "      {% for task in todo %}\n",
        "        <tr>\n",
        "          <td>\n",
        "            <ul class=\"sortable connectedSortable\" >\n",
        "              <li class=\"card\" class=\"card\" width=31>  {{task.title}} </li>\n",
        "            </ul>\n",
        "          </td>\n",
        "          <td>\n",
        "            <form method=\"POST\" action=\"./update\" style=\"display: inline\">\n",
        "              <input type=\"hidden\" value=\"{{task.title}}\" name=\"name\">\n",
        "              <input type=\"hidden\" value=\"doing\" name=\"newstatus\">\n",
        "              <input type=\"submit\" value=\"&#10004\">\n",
        "            </form>\n",
        "          </td>\n",
        "          <td>\n",
        "            <form method=\"POST\" action=\"./delete\" style=\"display: inline\">\n",
        "              <input type=\"hidden\" value=\"{{task.title}}\" name=\"title\">\n",
        "              <input type=\"submit\" value=\"&#10006\">\n",
        "            </form>\n",
        "          </td>\n",
        "        </tr>\n",
        "        {% endfor %}\n",
        "    </table>\n",
        "  </div>\n",
        "\n",
        "  <div class=\"container\" style=\"background-color:#0069D9;\">\n",
        "  <h2 style=\"color:#FFFFFF\">DOING</h2>\n",
        "  <table>\n",
        "    {% for task in doing %}\n",
        "      <tr>\n",
        "        <td>\n",
        "          <ul class=\"sortable connectedSortable\" >\n",
        "            <li class=\"card\" class=\"card\" width=31>  {{task.title}}</li>\n",
        "          </ul>\n",
        "        </td>\n",
        "        <td>\n",
        "          <form method=\"POST\" action=\"./update\" style=\"display: inline\">\n",
        "            <input type=\"hidden\" value=\"{{task.title}}\" name=\"name\">\n",
        "            <input type=\"hidden\" value=\"done\" name=\"newstatus\">\n",
        "            <input type=\"submit\" value=\"&#10004\">\n",
        "\n",
        "          </form>\n",
        "        </td>\n",
        "        <td>\n",
        "          <form method=\"POST\" action=\"./delete\" style=\"display: inline\">\n",
        "            <input type=\"hidden\" value=\"{{task.title}}\" name=\"title\">\n",
        "            <input type=\"submit\" value=\"&#10006\">\n",
        "\n",
        "          </form>\n",
        "        </td>\n",
        "      </tr>\n",
        "      {% endfor %}\n",
        "  </table>\n",
        "  </div>\n",
        "  <div class=\"container\" style=\"background-color:#0c9463;\">\n",
        "  <h2 style=\"color:#FFFFFF\">DONE</h2>\n",
        "  <table>\n",
        "    {% for task in done %}\n",
        "      <tr>\n",
        "        <td>\n",
        "          <ul class=\"sortable connectedSortable\" >\n",
        "            <li class=\"card\" class=\"card\" width=31>  {{task.title}}</li>\n",
        "          </ul>\n",
        "        </td>\n",
        "        <td>\n",
        "          <form method=\"POST\" action=\"./delete\" style=\"display: inline\">\n",
        "            <input type=\"hidden\" value=\"{{task.title}}\" name=\"title\">\n",
        "            <input type=\"submit\" value=\"&#10006\">\n",
        "\n",
        "          </form>\n",
        "        </td>\n",
        "      </tr>\n",
        "      {% endfor %}\n",
        "  </table>\n",
        "  </div>\n",
        "  </div>\n",
        "\n",
        "  </section>\n",
        "\n",
        "  <p></p>\n",
        "\n",
        "    <section class=\"container2\" >\n",
        "    <form method=\"POST\" action=\"/main\">\n",
        "      <input type=\"text\" name=\"title\" required>\n",
        "\n",
        "        <select name=\"status\" class=\"custom-select\" style=\"width:80px\";>\n",
        "            <option> todo </option>\n",
        "            <option> doing </option>\n",
        "            <option> done </option>\n",
        "          </select>\n",
        "\n",
        "      <input type=\"submit\" value=\"Add Task\" class=\"btn btn-primary \">\n",
        "    </form>\n",
        "    <p></p>\n",
        "\n",
        "    <form method=\"POST\" action=\"/logout\">\n",
        "    <input type=\"submit\" value=\"Log out\" class=\"btn btn-primary btn-block\">\n",
        "  </form>\n",
        "  {% if error %}\n",
        "    <p class=\"error\"><strong>Error:</strong> {{ error }}\n",
        "  {% endif %}\n",
        "</section>\n",
        "\n",
        "  </body>\n",
        "</html>"
      ],
      "metadata": {
        "id": "UkK6CStcEXud"
      },
      "execution_count": null,
      "outputs": []
    }
  ]
}